.theme-toggle {
  background: transparent;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-toggle:hover {
  background: var(--navbar_hover-background);
}

.theme-icon {
  width: 1.25rem;
  height: 1.25rem;
  display: none;
  filter: brightness(0) invert(1);
}

[data-theme="light"] .theme-icon-moon,
:root:not([data-theme]) .theme-icon-moon {
  display: block;
}

[data-theme="dark"] .theme-icon-sun {
  display: block;
}

@media screen and (min-width: 1024px) {
  .theme-toggle {
    color: var(--navbar-font-color);
  }
}

@media screen and (max-width: 1023.5px) {
  .theme-toggle {
    color: var(--navbar-font-color);
    position: absolute;
    right: 3rem;
    top: 0;
    height: var(--navbar-height);
    padding: 0 0.75rem;
  }
}
